<h2>Non-mobile first version</h2>
<div class="flex-container">
  <div id="item1">
    1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item2">
    2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item3">
    3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item4">
    4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>
</div>

<h2>Mobile first version</h2>
<div class="m_flex-container">
  <div id="item1">
    1 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item2">
    2 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item3">
    3 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>

  <div id="item4">
    4 - Lorem ipsum dolor sit amet, consectetur adipisicing elit. Saepe, eius unde culpa tempore dolorum, quod odio, dolor labore qui assumenda id alias blanditiis, numquam magnam illo temporibus iusto animi fuga!
  </div>
</div>
