<div class="r_grid-container">

  <header class="r_header">Header</header>
  <nav class="r_nav">Navigation</nav>
  <main>
    <h1 class="r_h1">Main</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati suscipit corporis, architecto exercitationem, nulla quia accusamus nostrum ducimus delectus pariatur beatae deserunt cumque id ea qui aspernatur repudiandae illum placeat.</p>
  </main>
  <aside>Related Links</aside>
  <footer class="r_footer">Footer</footer>

</div>
